
body{
    margin: 0px;
}

#Meni-conteiner {

    background-color: #3d404a;
    color: white;
    margin: 0px;
    padding-top: 15px;
    height: 155px;
    width:100%;
}

.MainMeni  {

    font-family:Roboto-Regular;
    font-size: 24px;
    color: gray;
    margin-left: 270px;
    margin-top: 38px;
    cursor: pointer;

}

.MainMeni a {

    font-family:Roboto-Regular;
    font-size: 24px;
    color: gray;
    margin-left: 100px;
    margin-top: 38px;
    cursor: pointer;

}

.MainMeni a:hover {

    color:white;

}

#Meni2-conteiner {

    background-color: White;
    color: white;
    padding-top: 15px;
    height: 155px;
    width:100%;

}

.SecondMeni  {

    font-family:Roboto-Regular;
    font-size: 24px;
    color: gray;
    margin-left:20px;
    margin-top: 38px;
    cursor: pointer;

}

.SecondMeni a {

    font-family:Roboto-Regular;
    font-size: 24px;
    color: #3d404a;
    margin-top: 38px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 50px;
    margin-left: 50px;

}

.SecondMeni a:hover{


    color:#f93547;
    text-underline: none;


}

.Underline-container{
    display: inline;


}

.Underline-container:hover{

    padding-bottom: 25px;
    border-bottom: 2px solid #f93547;
    width: 100px;
}

a.SpecialLink:hover{
    text-decoration: none;
}

#Teams-conteiner {

    background-color: #e8e9ef;
    color: white;
    padding-top: 15px;
    height: 139px;
    width:100%;
    margin-top: -45px;

}

#plus {
    color: #929090;
    margin-left: 60px;
    margin-top: 100px;
    width: 15px;
    cursor: pointer;
    display: inline;
}

.Chat-log{

}



.modal-title{

    font-size: 40px;
}




/*  ---------------------OWERRITED UI JQUERRY-------------------------*/

#tabs {
    border: none;
    margin-top: 50px;
    color: #f6f7fa;

}
.ui-tabs{
    padding: 0px;
}

.ui-tabs .ui-tabs-panel {
    border: 1px solid black;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {

    color: #929090;
    font-family: Roboto-Regular;
    font-weight: bold;
    font-size: 18px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {

    border: none;
    background: #f6f7fa;
}

.ui-tabs .ui-tabs-nav li {
    border-radius: 162px;
}


/*  ---------------------OWERRITED AWSOME FONTS------------------------*/

.fa {

    margin-top: 10px;  /*------------- Pozicija plusa je poravnana z tabi*/
}



/*-------------------- WINDOWS FOR ADDING THE TEAM---------------------*/


.modal-title{

    color: #696969;
    font-size:45px;
    margin-left: 170px;
    margin-top: 45px;
    margin-bottom: 45px;

}

.modal-content {         /*------- window size owerrited form Bootstrap*/

    height: 500px;
    width: 700px;

}

.btn-primary {         /*------button pozition on window*/

    margin-right: 280px;
}



.text-box {         /*------------- texbox field costum*/

    padding: 0.8em 0.75em 0.7em;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
    line-height: normal;
    -webkit-transition: box-shadow 0.2s, border-color 0.2s;
    transition: box-shadow 0.2s, border-color 0.2s;
    -webkit-appearance: none;
    width: 450px;
    height: 70px;
    margin-left: 100px;
    font-size: 30px;

}
.text-box:focus {
    outline: 0;
    border: 1px solid #4db3e6;
    box-shadow: 0 0 0 1px #4db3e6;
    -webkit-transition: none;
    transition: none;
}


.modal-header {  /*--------- window border owerrited form Bootstrap*/

    border-bottom:none;

}

.modal-footer {  /*--------- window border owerrited form Bootstrap*/

    border-top:none;

}




.button {   /*--------- button with radius for window*/
    border: 0 none;
    border-radius: 36px;
    padding: 12px 45px;
    margin: 0 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    color: #3387e7;
    text-transform: none;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}
.button:hover {
    opacity: .7;
}

.button.-blue {

    background: #3387e7;
    color: #FFFFFF;
    margin-right: 260px;
    margin-top: 19px;
}

.error-sign{    /*error sign position*/

    margin-top: 30px;
    position: relative;
    margin-right: 200px;
    margin-left: 165px;
    color: #f93547;

}

.text-error {   /*text next to error */

    margin-left: 202px;
    margin-right: 40px;
    font-size: 17px;
    margin-top: -26px;
    color: #969696;
    font-family: SourceSansPro-Regular;


}


/*--------------------------------------------------CONTENT----------------------------------------------------------------*/

.content-items {


    width: 450px;
    height: 700px;
    margin-left: 20px;
    margin-top: 30px;

}

.element {



    height: 100px;
    width: 400px;
    margin-left: 21px;
    margin-top: 20px;
    background: #ffffff;
}

.circle-img-left {

    margin-top: 13px;
    margin-left:28px;
    color: #d8d8d8;
}

.element-title
{
    margin-top: 19px;
    float: right;
    margin-right: 62px;
    font-family: SourceSansPro-Regular;
    font-size: 22px;
    font-weight: bold;
    color: #403d48;
}

.content-date
{

    margin-top: -37px;
    float: right;
    margin-right: 199px;
    color: #8a8a8a;
    font-family: Roboto-Light;
    font-size: 16px;
}

.content-user {

    float: right;
    margin-top: -38px;
    margin-right: 119px;
    color: #2395ff;
    font-weight: bold;
    font-family: Roboto-Regular;
    font-size: 17px;

}
#tabs-1,#tabs-2,#tabs-3{
    background:#f6f7fa;
}

.circle-img-right {

    color: #00c461;
    float: right;
    margin-right: 22px;
    margin-top: -41px;


}
.Tagging-items{

    height: 700px;
    width: 450px;
    float: right;
    position: absolute;
    margin-left: 513px;
    margin-top: 31px;

}

.Review-items {

    width: 450px;
    height: 700px;
    position: absolute;
    float: right;
    margin-left: 1004px;
    margin-top: 31px;

}

.Review-title{

    height: 100px;
    width: 250px;
    margin-top: 20px;
    margin-left: 1005px;
}

.Tagging-title {

    height: 100px;
    width: 250px;
    position: absolute;
    margin-top: -100px;
    margin-left: 515px;

}

.Content-title{

    height: 100px;
    width: 250px;
    position: absolute;
    margin-top: -100px;
    margin-left: 22px;

}

.Title-main-decoration
{
    font-family: Roboto-Regular;
    color: #000000;
    font-size: 33px;
    font-weight: bold;
    margin-left: 32px;
    display: block;
    margin-top: 6px;

}

.Title-description {

    display: block;
    margin-left: 34px;
    color: #00c461;
    font-family: Roboto-Light;
    font-size: 21px;
    margin-top: -8px;

}

.Right-angle-1 {

    margin-left: 396px;
    margin-top: -73px;
    display: block;
    position: absolute;
    color: #d7d7d7;
    cursor: pointer;


}

.Right-angle-2 {

    display: block;
    position: absolute;
    color: #d7d7d7;
    margin-left: 894px;
    margin-top: -73px;
    cursor: pointer;
}



